* {
    font-family: 'Karla', sans-serif; 
}

body {
    background-color: white;
}

#container {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    margin: 0 auto;
    position: absolute;
    background-color: white;
}

#logo {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 10px;
}

#escrito {
    position: absolute;
    top: 0%;
    font-size: 100%;
    right: 8%;
    font-weight: 500;
}

#sacola {
    position: absolute;
    display: flex;
    right: 20px;
    top: 20px;
}

#navbar {
    position: absolute;
    right: 20px;
    top: 70px;
    font-size: 95%;
}
#navbar li {
    display: inline;
    margin-left: 7px;
}

a {
    text-decoration: none;
}

#menuNavegacao {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 20%;
}

#menu {
    position: absolute;  
    width: 30.5%;
    height: 100%;
    top: 20%;
}

#busca {
    position: absolute;
    width: 100%;
    height: 8%;    
    background-color: #e2e0e0;
}

#busca span {
    position: absolute;
    padding: 3%;
}

#busca input {
    position: absolute;
    top: 50%;
    left: 3%;
}

#departamentos {
    position: absolute;
    width: 100%;
    height: 4.5%;    
    top: 10%;
    background-color:#e2e0e0;
}

#departamentos span {
    position: absolute;
    padding: 3%;
}

#categorias {
    position: absolute;
    top: 70%;
    height: 80%;
    width: 100%;
}

#categorias ul {
    list-style-type: none;
    padding-left: 3%;
    padding-bottom: 1%;
    border-bottom: 12.5px solid #cecece;
}

#categorias ul li {
    border-bottom: 1px solid #cecece;
    padding: 1%;
}

#imagens {
    position: absolute; 
    width: 70%;
    height: 60%;
    top: 20%;
    right: 0;
}